body {
  font-family: "Montserrat", sans-serif;
  background-color: #e6ddc4;
  color: #272829;
}

html {
  scroll-behavior: smooth;
}

/* header */
/* outside part of the header to make header shrink and inner container to stick to the top */

.header-outer {
  align-items: center;
  position: sticky;
  top: -86px;
  height: 130px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #678983;
}

.header-inner {
  height: 70%;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
}

.header-nav {
  margin-top: 10px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-logo-img {
  width: 40%;
  height: 50%;
}

/* Global  */
.inner {
  padding: 0 40px;
}

.section-heading {
  text-align: center;
}

.section-heading-main {
  display: block;
  font-size: 40px;
  margin-bottom: 20px;
  padding: 40px 0;
}

/* first view */
.fv {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.profile-picture-container {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-align-items: flex-end;
}

.profile-img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-image: url(../img/profilepicture.jpg);
  object-fit: cover;
  border: 3px solid #f4f4f4;
}

.fv .fv-text {
  position: absolute;
  top: 30%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: rgba(56, 50, 50, 0.6);
  font-size: 25px;
}

/* about */
.about {
  padding: 40px 0;
}

.about-contents {
  margin-top: 16px;
}

.about-text {
  font-size: 16px;
  line-height: 2;
}

.about-text + .about-text {
  margin-top: 16px;
}

/* skills */

.skills {
  padding: 40px 0;
  background-color: #f0e9d2;
}

.skill-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 40px;
}

.skill-code {
  margin-bottom: 20px;
}

.skill-title {
  font-weight: bold;
}

/* projects */

.projects {
  background-color: #eee0c9;
  padding: 40px 0;
}

.project-img {
  border-radius: 30px;
}

.project-text-contents {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 20px 0;
}

.project-name {
  font-size: 18px;
}

.project-main-name {
  display: block;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 5px;
}

.project-language {
  font-size: 18px;
}

.project-link {
  margin-top: 5px;
}

/* contact */

.contact-container {
  display: block;
  justify-content: center;
}

.form {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
}

.form-input {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-family: "Montserrat", sans-serif;
  padding: 12px 10px;
  margin: 10px;
}

.form-submit {
  border-radius: 4px;
  border: none;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 10px auto 0;
  width: 120px;
  padding: 10px;
  color: #ffff;
  background-color: #a98c5f;
}

/* footer */

.footer {
  background-color: #181d31;
  text-align: center;
  color: #ffff;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sns-img {
  width: 50px;
}

.footer-copy-wrapper {
  padding: 12px;
}

.footer-copy-light {
  font-size: 15px;
}

/* 404 page */

.page-not-found-container {
  margin-top: 60px;
}

.page-not-found-text {
  text-align: center;
  font-size: 30px;
  color: #696969;
}

.image-container {
  margin: 10px 50px 45px 50px;
}

.back {
  border-radius: 4px;
  border: none;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 10px auto 0;
  width: 120px;
  padding: 10px;
  color: #ffff;
  background-color: #a98c5f;
  margin-bottom: 10px;
}

/* tablet and pc size */

@media screen and (min-width: 768px) {
  /* global */

  .section-heading {
    font-size: 64px;
  }

  /* header */

  .header {
    padding: 16px;
  }

  /* outside part of the header to make header shrink and inner container to stick to the top */
  .header-outer {
    align-items: center;
    position: sticky;
    top: -50px;
    height: 130px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #678983;
  }

  .header-inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .header-nav-list {
    gap: 45px;
  }

  .header-nav-link {
    transition: opacity 0.3s;
  }

  .header-nav-link:hover {
    opacity: 0.7;
  }

  /* about */

  .fv {
    height: 36vh;
  }

  .fv .fv-text {
    top: 25%;
    left: 35%;
  }

  .about {
    padding: 40px 0;
  }

  .inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .about-text {
    font-size: 20px;
  }

  /* project */

  .project-language {
    font-size: 16px;
  }

  .project-list {
    display: flex;
    gap: 20px;
  }

  .skill-container {
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  /* contact */

  .contact-container {
    max-width: 700px;
    margin: 0 auto;
  }

  .form-submit {
    transition: opacity 0.3s;
  }

  .form-submit:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .footer-nav-list {
    margin-top: 0px;
    padding: 20px;
  }

  /* image hover effect */

  .sns-img {
    transition-duration: 0.3s;
  }

  .sns-img:hover {
    transform: scale(1.5);
    transition-duration: 0.3s;
  }

  .image-container {
    text-align: center;
  }

  .page-not-found-img {
    width: 600px;
  }

  .back {
    margin-bottom: 10px;
  }
}
